 #four {
 	background-color: rgb(255,235,194);
 	}
 	
 #three {
 	background-color: rgb(204,58,0);
 	}
 
 #two{
 	background-color: rgb(255,55,0);
 	}
 	
 #one{
 	background-color: rgb(255,134,28);
 	}
 
 #zero{
 	background-color: rgb(127,13,0);
 	}